##############################################################################
# This is the top-level .gitignore file for the WRF model                    #
#                                                                            #
# Filenames and wildcards added below will not be tracked by git in any      #
# directory in the repository                                                #
#                                                                            #
# Ignored file types should include executables, build-time temporary files, #
# and other files which should not ever be added to the code repository.     #
#                                                                            #
# USE CAUTION WHEN ADDING WILDCARDS, as some builds use different filename   #
# conventions than others                                                    #
##############################################################################
*.exe
*.o
*.mod
*.a
configure.wrf*
*.backup
*.f90
compile.log
run/namelist.input
test/em_real/
tools/
wrfout*
wrfin*
wrfrst*
rsl.*
*.nc
*.bin
*.dat
slurm*
wrfbdy*
diffwrf

tools/gen_comms.c
test/em_real/namelist.input.default
test/em_real/namelist.output
test/em_real/p3_lookupTable_1.dat-v5.4_2momI
test/em_real/p3_lookupTable_1.dat-v5.4_3momI
test/em_real/p3_lookupTable_2.dat-v5.3
tools/fseeko_test
tools/fseeko64_test
tools/registry
log.compile2
Registry/io_boilerplate_temporary.inc
external/*
frame/
inc/
phys/module_sf_noahmp*
run/MPTABLE.TBL
Registry/Registry
compile.log*
log.compile5
test/em_real/namelist.input

log.compile_clc1
log.compile_clc2
log.compile_debug
run/namelist.input.backup.*
log.compile*
et --hard 5fc4e082
external/io_int/diffwrf
external/io_int/test_io_idx
external/io_netcdf/diffwrf
